<p>Property: {{myProperty}}</p>
<h2>This is the new template</h2>
<div>
  {{input type='text' value=title}}
  <br>
  {{input type='text' value=body}}
  <button {{action 'createPost'}}>Create</button>
</div>